*{
    margin: 0;
    padding: 0;
}
body{
    overflow: hidden;
    background-color: #000;
}
h1{
    position: absolute;
    line-height: 50px;
    letter-spacing: 5px;
    color: #fff;
    width: 300px;
    top: 40%;
    left: 50%;
    margin-left: -200px;
    font-size: 30px;
}

